body {
  font-family: 'Poppins', sans-serif;
}

.card {
  border: none;
  border-radius: 16px;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: #2b7a78 !important;
  box-shadow: 0 0 4px rgba(43, 122, 120, 0.3) !important;
}
#profileBtn img {
  transition: transform 0.2s ease;
  border: 2px solid #2b7a78;
}
#profileBtn img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

